
.sub-container-cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-cabecalho h1{
    padding: 25px 40px 0px 40px ;
    font-size: 48px;
    color: white;
    font-weight: 300;
}

.text-cabecalho span{
    font-weight: 700;
}


