* {
    font-family: 'Montserrat';
}
.container-simulador{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../../assets/BGALL2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container-principal{
    width: calc(100% - 70px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sub-container-calculadora{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


.box-resultado {
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 15px;
}

.box-resultado b {
    color: #ececec;
}

.box-resultado br {
    line-height: 8px;
}
