* {
    font-family: 'Montserrat';
}
.container-simulador{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../../assets/BGALL2.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container-principal{
    width: calc(100% - 70px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}
        
.sub-container-calculadora{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}


