@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.main-container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
}
.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}
.container-form{
    width: 50%;
    height: 100%;
}
.sub-container-image{
    width: 95%;
    height: 95%;
    background-color: antiquewhite;
    background-image: url(../../assets/bg-register.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
}
.bar-infos{
    width: 100%;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
.sub-bar-links{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 30%;
    height: 100%;
}
.bar-infos h3{
    color: #A4A4A4;
    font-weight: 500;
    flex-wrap: nowrap;
    font-size: 17px;
}
.sub-container-image div{
    width: 100%;
}
.sub-bar-image{
    padding-left: 20px;
    justify-content: center;
    align-items: center;
}