@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.main-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

/*CONTAINER DA IMAGEM*/
.container-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.container-form {
  width: 50%;
  height: 100%;
}
.sub-container-image {
  width: 97%;
  height: 97%;
  border-radius: 30px;
  background-image: url('../../../../assets/c-cedric-photographe-LR_hS7ImlDM-unsplash\ 2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-image {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10%;
  justify-content: space-between;
}
.logo-container {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: end;
}
.navbar-image-links {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-image-links ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.navbar-image-links ul li a {
  color: white;
  text-decoration: none;
}

/*CONTAINER DO FORMULÁRIO*/
.container-form {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container-form {
  width: 60%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container-form-2 {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-form-labels {
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container-form-labels h1 {
  font-size: 28px;
}
.container-form-labels p {
  font-size: 18px;
  color: #949494;
}
.container-form-inputs {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-form-inputs section {
  color: rgb(0, 0, 0);
  width: 90%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 400;
  font-size: 17px;
  padding-bottom: 20px;
}
.container-form-inputs section input {
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 0;
    text-indent: 15px;
    background-color: #EFEFEF;
    line-height: 40px;
    padding: 5px 0px 5px;
    box-sizing: border-box;

}
.container-form-inputs section input::placeholder{
    font-family: 'Poppins';
    font-size: 14px;
}
.container-form-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    height: 20%;
}
.container-form-buttons a  {
    width: 100%;
}
.container-form-buttons a button {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    padding: 12px 0px 12px;
    background-color: rgb(0, 0, 0);
    border: 0;
    outline: none;
    border-radius: 08px;
    color: white;
    transition: 300ms;
}
.container-form-buttons a button:hover {
    background-color: rgb(44, 44, 44);
}



