
.sub-container-header{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}

.text-boas-vindas h1{
    padding: 25px 40px 0px 40px ;
    font-size: 48px;
    color: white;
    font-weight: 300;
}

.text-boas-vindas span{
    font-weight: 700;
}


