.btn-abrir {
  background-color: #7c3aed;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-abrir:hover {
  background-color: #6d28d9;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: auto;

}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

h1 span {
  font-weight: bold;
}

.filtros {
  margin-bottom: 20px;
}

.linha-filtros {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filtro {
  flex: 1;
}

.filtro label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.filtro input {
  width: 70%;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #eeeeee;
}
.linha-filtros.num{
    width: 33%;
}

.btn-ver-entregas {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: black;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.tabela-coleta table {
  width: 100%;
    border-collapse: collapse;
  margin-bottom: 20px;
}

.container-tabela-coleta {
    width: 100%;
    height: 500px;
    overflow-y: auto;
}

.tabela-coleta {
    width: 100%;
    border-collapse: collapse;
}

.tabela-coleta thead th {
    background-color: #7B20E2;
    color: white;
    padding: 16px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    position: sticky;
    top: 0;
}

.tabela-coleta tbody td {
    padding: 22px;
    font-size: 14px;
    text-align: center;
    background: #f9f9f9;
}
.tabela-coleta th {
    width: calc(100% / 8);
    padding: 16px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.tabela-coleta td {
  padding: 22px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.container-tabela-coleta {
    width: 100%;
    height: 500px;
    overflow-y: auto;
}
.tabela-coleta tbody tr {
    width: calc(100% / 8);
    background-color: #f9f9f9;
}
.tabela-coleta tr:hover {
      background-color: #000000;
      cursor: pointer;
    }

.botoes-acao {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-editar {
  background-color: #7c3aed;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;

}

.btn-adicionar {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;

}

.btn-remover {
  background-color: #dc2626;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;

}

.btn-concluir {
  background-color: #7c3aed;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.btn-editar:hover {
  background-color: #6d28d9;
}

.btn-adicionar:hover {
  background-color: #333;
}

.btn-remover:hover {
  background-color: #b91c1c;
}

.btn-concluir:hover {
  background-color: #6d28d9;
}
