.sidebar-menu{
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-menu p{
    color: #4A4A4A;
    font-size: 10px;
    font-weight: 600;
}

.itens-menu{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.item-menu{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.item-menu.telaAtual{
    background-color: #6366F1;
}

.item-menu:hover{
    background-color: #2A2A2A;
}

.item-menu img{
    width: 34px;
    height: 34px;
}
