* {
    font-family: 'Montserrat';
}
.container-delivery{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../../assets/BGALL.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.container-principal{
    width: calc(100% - 70px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-tabela{
    width: calc(100% - 180px);
    height: 40%;
    padding-top: 50px;
}
.text-header h1{
    font-size: 48px;
    color: white;
    font-weight: 300;
}

.text-header span{
    font-weight: 700;
}

.logo-usuario img{
    width: 60px;
}


