.card-formulario{
    width: 80%;
    background-color: #1D1D1D;
}

.card-tabela{
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container-table{
    height: 100%;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    overflow-y: auto;
}

.tabela-despesas{
    width: 100%;
    border-collapse: collapse;
    height: 100%;
    scrollbar-color: #1d1d1d;
}

.tabela-despesas thead{
    background-color: #7B20E2;
    top: 0;
}

.tabela-despesas thead th{
    padding: 16px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.tabela-despesas tbody{
    background-color: #1D1D1D;
}

.tabela-despesas tbody tr{
    cursor: pointer;
    border-bottom: 1px solid #252525;
}

.tabela-despesas tbody tr:hover{
    background-color: #252525;
}

.tabela-despesas tbody td{
    color: white;
    font-size: 16px;
    padding: 22px ;
    text-align: center;
}
