
.card-simulador{
    width: 85%;
    background: #1D1D1D;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header-simulador h3{
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
}

.descricao-simulador{
    color: #8A8F98;
    font-size: 13px;
    line-height: 1.4;
}

.btn-simular{
    background-color: #7B20E2;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    margin-top: 10px;
}
