
.card-grafico-barra{
    width: 100%;
    height: 50%;
    background-color: #1A1A1A;
    border-radius: 15px;
}

.header-grafico{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.header-grafico h3{
    color: white;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3;
}

.caixa-semestre{
    background-color: white;
    color: #000;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
}

.conteudo-grafico{
    width: 100%;
    height: 250px;
}
