* {
    font-family: 'Montserrat';
}
.container-dashboard{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #0A0A0A;
}


.container-principal{
    width: calc(100% - 70px);
    height: 100vh;
}

.layout-grid{
    width: 100%;
    display: flex;
    gap: 40px;
}

.coluna-esquerda{
    width: 90%;
    height: 80%;
    display: flex;
    padding: 40px 0px 0px 40px;
    flex-direction: column;
    gap: 20px;
}

.coluna-direita{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 40px;
}

.container-kpis{
    width: 100%;
    display: flex;
    gap: 20px;
}



.container-graficos-bottom{
    width: 100%;
    height: 35%;
    display: flex;
    gap: 20px;
}


