
.KPI {
    background-color: #333;
    width: 22%;
    height: 80%;
    color: white;
    border-radius: 8px;
    padding: 15px;
  }

  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }
  .sub-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
  }

  .kpi-container {
    width: 100%;
    height: 35vh;
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .graficos-container {
    display: flex;
    width: 100%;
    height: 65vh;
    gap: 20px;
  }

  .GRAFICO,
  .GRAFICO-DONNUT {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    border-radius: 10px;
    overflow: hidden;
  }

  .GRAFICO-DONNUT > canvas {
    max-width: 320px;
    max-height: 320px;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }


  .agenda-container {
    width: 20%;
    background: #1c1c1e;
    border-left: 2px solid #2f2f34;
    color: white;
    padding: 20px;
    overflow-y: auto;
  }

  .lista-agenda {
    width: 100%;
    background-color: transparent;
  }

  .lista-agenda ul li {
    margin: 8px 0;
    font-size: 14px;
    opacity: 0.85;
  }

  .agenda h2 {
    background: #7b20e2;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
  }
