.KPI{
    background-color: rgb(51, 51, 51);
    width: 300px;
    height: 300px;
    color: white;
}
.container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}
