@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  overflow-x: hidden;
}
.container-home {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(1, 1, 1) 100%);
}


.container-home video{
  position: absolute;
  opacity: 0.1;
  width: 100%;
  height: auto;
}

.container-acao{
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    padding: 0 60px;
    position: relative;
    z-index: 2;
}

.hero-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-text h1{
    color: #CFCFCF;
    font-size: 35px;
    line-height: 1.2;
    font-weight: 600;
}

.hero-text p{
    color: #CFCFCF;
    font-size: 18px;
    line-height: 1.6;
}

.btn-comecar{
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    border-radius: 17px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    width: 180px;
    font-family: 'Montserrat';
}

.btn-comecar:hover{
    background-color: #f0f0f0;
}
