.container-visualize{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.sub-container-text{
    width: 50%;
    height: 100vh;
    display: flex;
    background-color: #000000;
    padding: 0 40px;
}

.sub-container-laptop{
    width: 50%;
    height: 100vh;
    display: flex;
    background-image: url(../../assets/lapTopLanding.png);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-h1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 60px;
}

.container-h1 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    color: #3B3B3B;
    width: 98%;
    line-height: 1.2;
    font-weight: 700;
}

.container-topics{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-topics p{
    color: #B0B5BD;
    font-size:  23px;
    font-weight: 300;
    line-height: 1.6;
    width: 95%;
    margin-bottom: 30px;
}

.container-topics div{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container-topics b{
    font-weight: 800;
    font-size: 24px;
    color: #3B3B3B;
}
.container-topics h3{
    color: #8A8F98;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
    padding-left: 25px;
}

.container-topics h3::before{
    position: absolute;
    left: 0;
    color: #3B3B3B;
}

.container-h1 span{
    color: white;
}
