@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  overflow-x: hidden;
}
.container-home {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}


.container-home video{
    background-image: url(../../assets/backgroundGradienteHome.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.container-acao{
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    align-items: center;
    padding: 0 60px;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

.hero-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.hero-text h1{
    color: #CFCFCF;
    font-size: 100px;
    line-height: 1.2;
    font-weight: 700;
}

.hero-text p{
    text-align: center;
    color: #CFCFCF;
    font-size: 18px;
    line-height: 1.6;
}

.btn-comecar{
    background-color: white;
    color: black;
    border: none;
    padding: 15px 40px;
    border-radius: 17px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Montserrat';
}

.btn-comecar:hover{
    background-color: #f0f0f0;
}

