.container-beneficios{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.sub-container-beneficios{
    width: 80%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-beneficios{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 55px;
    text-align: center;
}

.text-beneficios h1{
    color: #3B3B3B;
    font-size: 65px;
    font-weight: 700;
}

.text-beneficios p{
    color: white;
    font-size:  25px;
}

.container-cards-beneficios{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 50px;
}

.card-ben{
    flex: 1;
    min-height: 400px;
    background-image: url('../../assets/fundoCard.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

.header-card{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.span-card{
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size:  16px;
}

.sub-container-card{
    width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sub-container-card h1{
    padding-top: 20px;
    color: white;
    font-size:25px;
    font-weight: 400;
}

.sub-container-card b{
    color: white;
    font-size: 45px;
    font-weight: 700;
}

.sub-container-card h2{
    font-size: 19px;
    font-weight: 400;
    color: #4B4B4B;
    line-height: 1.5;
}

