.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    position: relative;
    z-index: 2;
}

.navbar-logo{
    position: absolute;
    left: 60px;
}

.navbar-logo img{
    width: 120px;
}

.navbar-header{
    display: flex;
    justify-content: center;
}

.navbar-header ul{
    display: flex;
    padding: 15px 50px;
    gap: 40px;
    border-radius: 30px;
    justify-content: center;
    background-image: url(../../assets/fundoCardMvv.png);
    background-size: cover;
    background-position: center;
}

.navbar-header ul li{
    list-style: none;
}

.navbar-header ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-header ul li a:hover{
    color: #CFCFCF;
}

.navbar-btn{
    position: absolute;
    right: 60px;
    display: flex;
    gap: 15px;
}

.btn{
    padding: 12px 50px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: 200ms;
    border: 2px solid white;
}

.btn-login{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-family: 'Montserrat';
}

.btn-login:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 0;
}


.btn-criar{
    background-color: white;
    color: black;
    border: none;
}

.btn-criar:hover{
    background-color: #f0f0f0;
}
