.container-totais{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 40px;
}

.card-total{
    width: 16.5%;
    min-width: 150px;
    background-color: #1D1D1D;
    border-radius: 15px;
    padding: 20px;
}

.card-total h3{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.card-total h2{
    color: white;
    font-size: 35px;
    font-weight: 700;
}

.corpo-tabela::-webkit-scrollbar {
    width: 6px;
}

.corpo-tabela::-webkit-scrollbar-track {
    background: #2A2A2A;
}

.corpo-tabela::-webkit-scrollbar-thumb {
    background: #6366F1;
    border-radius: 10px;
}

.corpo-tabela::-webkit-scrollbar-thumb:hover {
    background: #8B5CF6;
}
