.container-despesas{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url(../../assets/BGALL.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.container-principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}

.sub-container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-top: 30px;

}
.layout-despesas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.coluna-esquerda{
    width: 43%;
    min-width: 400px;
}

.coluna-direita{
    width: 50%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 50px;

}
