
.card-formulario{
    width: 100%;
    background-color: #1D1D1D;
    border-radius: 25px;
    padding: 30px;
    height: fit-content;
}

.card-tabela{
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    height: 580px;
    display: flex;
    flex-direction: column;
}

.container-table{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.tabela-despesas{
    width: 100%;
    border-collapse: collapse;
    height: 100%;
}

.tabela-despesas thead{
    background-color: #7B20E2;
    position: sticky;

}

.tabela-despesas thead th{
    padding: 25px 20px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    text-align: center;
}

.tabela-despesas tbody{
    background-color: #1D1D1D;
}

.tabela-despesas tbody tr{
    padding: 15px 60px;
    cursor: pointer;
}

.tabela-despesas tbody tr:hover{
    background-color: #252525;

}



.tabela-despesas tbody td{
    padding: 15px 53px;
    color: white;
    font-size: 16px;
}
